*{
    padding: 0;
    margin: 0;
}

div.ctn{
    display:grid;
    place-content: center;
    height: 100vh;
}

canvas{
    border: 3px solid #20FF20;
}

@font-face {
    font-family: 'Arcade';
    src: url('./assets/VCR_OSD_MONO.ttf');
}